.mantine-Checkbox-root {
    margin:auto;
    display: flex;
    justify-content: center;
}

.mantine-Switch-labelWrapper {
    justify-content: center;
}

.mantine-AppShell-header {
    display: grid;
}

.mantine-AppShell-header>.mantine-Grid-root {
    justify-self: center;
	align-self: center;
}

.col-height {
    height: min-content;
}