@media (max-width: 768px) {
  .block-background-audio {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}

.table-wrapper {
  max-height: 40vh;
  width: auto;
  overflow: auto;
  display: inline-block;
}

.table-earnings {
  background: #F3F5F6;
}

/* на телефоне блок скроется */
@media (max-width: 768px) {
  .hided_element {
    display: none !important;
  }
}

.mantine-Drawer-drawer {
  overflow-y: auto;
}

.block-background-float {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 4px -4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px -4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px -4px 8px 0px rgba(34, 60, 80, 0.2);
}