body {
    background-color: rgb(226, 226, 226);
}

.navbar-collapse {
    flex-grow: unset !important;
}

.Card-element {
    width: 100%;
    background-color: white;
    border-radius: 16px;
    padding: 16px
}

.block-background,
.block-background-audio {
    background-color: white;
    border-radius: 5px;
    /* margin-right: 5px; */
    padding: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}


@media (max-width: 768px) {
    .phone-col {
      width: 100%;
    }
}

/* dropdown items has very light color */
.dropdown-item,
.dropdown-header {
    color: var(--bs-blue);
}


/* adaptive containers and grids */
.dmc-container {
    padding-top: 20px;
    max-width: 90%;
}
/* на телефоне увеличится ширина блока */
@media (max-width: 768px) {
    .adaptive-container {
        max-width: 100%;
    }
    .adaptive-grid {
        display: block;
    }
}