body {
    background-color: rgba(240, 241, 242, 1);
}

.navbar-collapse{
    flex-grow: unset !important;
}

.Card-element {
    width: 100%;
    background-color: white;
    border-radius: 16px;
    padding: 16px
}

.block-background {
    background-color: white;
    border-radius: 5px;
    /* margin-right: 5px; */
    padding: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.mrrow {
    margin-right: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .mrrow {
      height: 100%;
      overflow: hidden;
    }
}

.mrrow:last-child {
    margin-right: 0px;
}


video,
.video_container {
    max-width: 100% !important;
    height: auto !important;
}

.overflow-column {
    min-height: 100% !important;
}

.video-column {
    height: 100%;
}